In [62]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, round, max
from google.colab import drive # Mount Google Drive

# Creating new session
spark = SparkSession.builder \
                    .appName("Colab PySpark Setup Employee data set") \
                    .getOrCreate()
spark

In [4]:
drive.mount('/content/drive')

# Reading CSV file from drive
employee_df = spark.read.csv('/content/drive/MyDrive/SalesData/large_employee_dataset.csv', header=True, inferSchema=True)

Mounted at /content/drive
+----------+--------------------+---+----------+------+-----------+--------+-------------------+
|EmployeeID|                Name|Age|Department|Salary|JoiningDate|  Status|               City|
+----------+--------------------+---+----------+------+-----------+--------+-------------------+
|      4128|     Charles Johnson| 52|        HR| 64039| 2018-07-07|Resigned|          Allentown|
|      6094|       Dylan Camacho| 57| Marketing| 34686| 2015-08-25|  Active|        Anthonyfort|
|      5883| Mr. Ryan Bowman Jr.| 29|   Finance| 64541| 2025-03-11|On Leave|          Gilesstad|
|      9146|          Brian Ball| 24|     Sales| 87831| 2015-10-01|Resigned|       Jenniferfurt|
|      1918|       Angela Hooper| 26|   Finance|108773| 2019-08-14|On Leave|       Lake Amystad|
|      4600|Alexander Johnson...| 45|     Sales| 75671| 2016-04-21|On Leave|         Russohaven|
|      6253|         Steven Lane| 47|   Finance| 64982| 2021-07-25|  Active|        East Robert|
|      8278|       Riley Johnson| 49|        HR| 43449| 2015-08-03|Resigned|         New Thomas|
|      8520|    Emily Washington| 43|   Finance| 33851| 2021-11-30|Resigned|        West Ashley|
|      1298|     Valerie Fleming| 42| Marketing| 70137| 2019-12-08|Resigned|        Caseborough|
|      5157|     Tracy Hughes MD| 28|   Finance| 34381| 2020-06-01|  Active|       West Phillip|
|      7403|    Johnathan Harmon| 50|        HR| 97666| 2021-03-09|On Leave|           Jillport|
|      3326|       Michael Brown| 28|        HR| 85122| 2023-10-21|Resigned|          Port Mark|
|      8989|       Scott Burnett| 48|     Sales| 93690| 2016-04-25|Resigned|     North Brittany|
|      4676|  Christopher Fuller| 30|        HR| 63042| 2021-04-30|Resigned|   South Donnaville|
|      6598|         Mary Henson| 58|        IT| 63951| 2021-08-25|  Active|        Port Tricia|
|      4136|       Jerome Torres| 30|   Finance| 68213| 2024-11-30|  Active|North Justinborough|
|      6640|     Isaiah Martinez| 51| Marketing| 72596| 2021-07-26|On Leave|       Mcgeechester|
|      6406|       Patrick Chung| 27|        HR|116423| 2024-07-05|  Active|         Tonyamouth|
|      1515|        Micheal Wade| 26|        HR| 41771| 2024-03-29|  Active|     Jimenezborough|
+----------+--------------------+---+----------+------+-----------+--------+-------------------+
only showing top 20 rows

# Exercises
 Basic Exploration

In [63]:
# 1. Show the top 10 rows of the dataset.
print("\n Displaying Top 10 records")
employee_df.show(10)

# 2. Count the total number of employees.
print("\n Displaying Total Number of Employees")
print(employee_df.count())

# 3. Display unique departments.
print("\n Displaying Unique Departments")
employee_df.select("Department").distinct().show()

 Displaying Top 10 records
+----------+--------------------+---+----------+------+-----------+--------+------------+-----------------+
|EmployeeID|                Name|Age|Department|Salary|JoiningDate|  Status|        City|YearsOfExperience|
+----------+--------------------+---+----------+------+-----------+--------+------------+-----------------+
|      4128|     Charles Johnson| 52|        HR| 64039| 2018-07-07|Resigned|   Allentown|                6|
|      6094|       Dylan Camacho| 57| Marketing| 34686| 2015-08-25|  Active| Anthonyfort|                9|
|      5883| Mr. Ryan Bowman Jr.| 29|   Finance| 64541| 2025-03-11|On Leave|   Gilesstad|                0|
|      9146|          Brian Ball| 24|     Sales| 87831| 2015-10-01|Resigned|Jenniferfurt|                9|
|      1918|       Angela Hooper| 26|   Finance|108773| 2019-08-14|On Leave|Lake Amystad|                5|
|      4600|Alexander Johnson...| 45|     Sales| 75671| 2016-04-21|On Leave|  Russohaven|                9|
|      6253|         Steven Lane| 47|   Finance| 64982| 2021-07-25|  Active| East Robert|                3|
|      8278|       Riley Johnson| 49|        HR| 43449| 2015-08-03|Resigned|  New Thomas|                9|
|      8520|    Emily Washington| 43|   Finance| 33851| 2021-11-30|Resigned| West Ashley|                3|
|      1298|     Valerie Fleming| 42| Marketing| 70137| 2019-12-08|Resigned| Caseborough|                5|
+----------+--------------------+---+----------+------+-----------+--------+------------+-----------------+
only showing top 10 rows


 Displaying Total Number of Employees
500

 Displaying Unique Departments
+----------+
|Department|
+----------+
|     Sales|
|        HR|
|   Finance|
| Marketing|
|        IT|
+----------+

Filtering & Sorting

In [28]:
# 4.Filter all employees in the "IT" department.
print("\n Displaying Employees of IT department")
employee_df.filter(employee_df["Department"] == "IT") \
           .select("EmployeeID", "Name", "JoiningDate", "Status") \
           .show()

# 5. Show employees aged between 30 and 40.
print("\n Displaying Employees aged between 30 and 40")
employee_df.filter((employee_df["Age"] >= 30) &( employee_df["Age"] <= 40)) \
          .select("EmployeeID", "Name", "Age", "JoiningDate", "Status") \
          .show()

# 6. Sort employees by Salary in descending order.
print("\n Displaying Employees sorted by Salary in descending order")
employee_df.orderBy(employee_df["Salary"].desc()) \
           .select("EmployeeID", "Name", "Salary", "JoiningDate", "Status") \
           .show()

 Displaying Employees of IT department
+----------+-------------------+-----------+--------+
|EmployeeID|               Name|JoiningDate|  Status|
+----------+-------------------+-----------+--------+
|      6598|        Mary Henson| 2021-08-25|  Active|
|      8518|   Elizabeth Abbott| 2022-11-05|  Active|
|      9506|        Thomas Dunn| 2020-07-12|On Leave|
|      9663|        Glenn Mason| 2020-03-27|On Leave|
|      2106|     Richard Bailey| 2021-06-29|Resigned|
|      8212|      Jacob Jackson| 2020-09-18|On Leave|
|      6354|     Nicole Gilmore| 2018-05-04|  Active|
|      5716|         David Wang| 2016-03-12|Resigned|
|      1181|       Joseph Clark| 2016-05-31|On Leave|
|      8302|      Debra Swanson| 2023-10-25|Resigned|
|      9542|      Jeffrey Frank| 2024-01-28|On Leave|
|      4100|Christopher Jimenez| 2017-03-13|  Active|
|      5780|     Kevin Harrison| 2024-03-28|  Active|
|      5572|    Andrew Harrison| 2021-12-08|  Active|
|      6388|        Melissa Lee| 2016-05-10|  Active|
|      7984|         Paige Hall| 2017-01-29|On Leave|
|      6043|        Casey Olson| 2022-01-27|  Active|
|      2817|      Tony Mcdonald| 2018-06-21|On Leave|
|      1982|     Jackie Herring| 2023-11-13|On Leave|
|      9259|       Shelly James| 2018-04-13|On Leave|
+----------+-------------------+-----------+--------+
only showing top 20 rows


 Displaying Employees aged between 30 and 40
+----------+------------------+---+-----------+--------+
|EmployeeID|              Name|Age|JoiningDate|  Status|
+----------+------------------+---+-----------+--------+
|      4676|Christopher Fuller| 30| 2021-04-30|Resigned|
|      4136|     Jerome Torres| 30| 2024-11-30|  Active|
|      1588|       Edwin Burns| 34| 2015-09-14|Resigned|
|      8074|       Fred Brewer| 30| 2021-06-06|On Leave|
|      3841|       April Allen| 36| 2020-05-20|  Active|
|      8212|     Jacob Jackson| 35| 2020-09-18|On Leave|
|      3325|       Brian Huynh| 40| 2017-01-02|On Leave|
|      6180|     Robert Cortez| 35| 2023-12-31|Resigned|
|      6354|    Nicole Gilmore| 35| 2018-05-04|  Active|
|      6364|       James Hogan| 33| 2023-12-05|  Active|
|      6913|   Dustin Williams| 34| 2023-10-16|On Leave|
|      3115|   Benjamin Turner| 38| 2018-03-20|Resigned|
|      7527|      Bobby Henson| 34| 2022-11-24|On Leave|
|      5620|  Christina Reeves| 34| 2024-01-16|On Leave|
|      9939|      Karen Hansen| 37| 2021-07-30|Resigned|
|      6509|     Joann Frazier| 38| 2024-01-11|Resigned|
|      6340|     Kenneth Smith| 38| 2018-12-29|Resigned|
|      1181|      Joseph Clark| 33| 2016-05-31|On Leave|
|      7098|     Hayley Reeves| 38| 2022-03-26|  Active|
|      9542|     Jeffrey Frank| 34| 2024-01-28|On Leave|
+----------+------------------+---+-----------+--------+
only showing top 20 rows


 Displaying Employees sorted by Salary in descending order
+----------+--------------------+------+-----------+--------+
|EmployeeID|                Name|Salary|JoiningDate|  Status|
+----------+--------------------+------+-----------+--------+
|      8860|       Cody Williams|119978| 2019-03-16|Resigned|
|      4585|      Sandra Webster|119940| 2022-10-21|On Leave|
|      4667|         Ronald Hunt|119677| 2019-08-29|Resigned|
|      1602|    Deborah Williams|119397| 2023-09-26|On Leave|
|      3374|        Amanda Green|119316| 2021-04-08|Resigned|
|      6329|       Heidi Shaffer|119165| 2020-01-14|Resigned|
|      2428|        Mary Stevens|119137| 2022-03-06|On Leave|
|      1545|Brittany Christensen|119038| 2020-10-25|Resigned|
|      2581|    Alexandria Jones|119009| 2017-01-22|On Leave|
|      5572|     Andrew Harrison|118992| 2021-12-08|  Active|
|      7459|    Abigail Robinson|118959| 2021-09-23|  Active|
|      7431|    Richard Mccarthy|118682| 2025-02-12|On Leave|
|      5998|       Bruce Serrano|118641| 2019-02-02|  Active|
|      9714|          Kevin Reid|118584| 2015-10-03|  Active|
|      1143|     Stacey Schwartz|118504| 2022-01-24|  Active|
|      3580|         Jamie Baker|118225| 2017-07-20|  Active|
|      9485|        Dennis Rivas|118187| 2019-05-26|On Leave|
|      1943|          Roy Willis|118172| 2016-03-05|  Active|
|      5755|        Erika Ortega|117517| 2023-04-16|On Leave|
|      7350|         Jenna Patel|117237| 2016-04-11|On Leave|
+----------+--------------------+------+-----------+--------+
only showing top 20 rows

Aggregation Tasks

In [38]:
# 7. Get the average salary by department
print("\n Displaying Average Salary by Department")
employee_df.groupBy("Department") \
           .agg(round(avg("Salary"), 2) \
           .alias("AverageSalary")) \
           .select("Department", "AverageSalary") \
           .show()

# 8. Count of employees by Status.
print("\n Displaying Count of Employees by Status")
employee_df.groupBy(["Status"]).count().show()

# 9. Highest salary in each city.
print("\n Displaying Highest salary in each city. ")
employee_df.groupBy(["City"]).agg(max("Salary") \
                             .alias("Maximum Salary")).show()

 Displaying Average Salary by Department
+----------+-------------+
|Department|AverageSalary|
+----------+-------------+
|     Sales|     77488.55|
|        HR|     76091.27|
|   Finance|     72834.76|
| Marketing|     71958.19|
|        IT|     73116.26|
+----------+-------------+


 Displaying Count of Employees by Status
+--------+-----+
|  Status|count|
+--------+-----+
|Resigned|  159|
|  Active|  172|
|On Leave|  169|
+--------+-----+


 Displaying Highest salary in each city.
+----------------+--------------+
|            City|Maximum Salary|
+----------------+--------------+
|   Wilsonchester|         67025|
|     Bradshawton|        111116|
|       Steventon|         32009|
|     Lake Alyssa|         84903|
|      North Lisa|         57898|
|    North Marvin|         66252|
|     Jenniferton|         39907|
|     Buckleyview|         50109|
|     Burtonville|         98492|
|    Johnsonmouth|         48799|
|    South Joseph|         52456|
|  Lindseychester|         90340|
|   North Stephen|         91947|
|Port Nicoleshire|         57537|
|    Jerrychester|         53374|
|  North Jennifer|         82486|
|      Laurenstad|         44608|
|West Brendanbury|         90698|
|       Juliaberg|         50170|
|       New James|         54378|
+----------------+--------------+
only showing top 20 rows

GroupBy and Analysis

In [51]:
from pyspark.sql.functions import year

# 10. Total number of employees who joined each year.
print("\n Displaying Total number of employees who joined each year.")
employee_df.withColumn("JoiningYear", year("JoiningDate")) \
           .groupBy("JoiningYear") \
           .count() \
           .withColumnRenamed("count", "TotalEmployees") \
           .show()

# 11. Department-wise count of employees who are currently "Active".
print("\n Displaying Department-wise count of employees who are currently Active")
employee_df.filter(employee_df["Status"] == "Active") \
          .groupBy("Department") \
          .count() \
          .withColumnRenamed("count", "ActiveEmployees") \
          .show()

# 12. Average age of employees per department.
print("\n Displaying Average age of employees per department")
employee_df.groupBy("Department") \
           .agg(round(avg("Age"), 2) \
           .alias("Average Age")) \
           .show()

 Displaying Total number of employees who joined each year.
+-----------+--------------+
|JoiningYear|TotalEmployees|
+-----------+--------------+
|       2025|            27|
|       2018|            52|
|       2015|            37|
|       2023|            47|
|       2022|            49|
|       2019|            52|
|       2020|            56|
|       2016|            49|
|       2024|            38|
|       2017|            44|
|       2021|            49|
+-----------+--------------+


 Displaying Department-wise count of employees who are currently Active
+----------+---------------+
|Department|ActiveEmployees|
+----------+---------------+
|     Sales|             32|
|        HR|             37|
|   Finance|             45|
| Marketing|             32|
|        IT|             26|
+----------+---------------+


 Displaying Average age of employees per department
+----------+-----------+
|Department|Average Age|
+----------+-----------+
|     Sales|      40.54|
|        HR|      41.46|
|   Finance|      39.21|
| Marketing|      41.82|
|        IT|      38.69|
+----------+-----------+

Joining (Use another DataFrame for mapping)

In [56]:
# 13. Create another dataset with City and Region, and join it.
region_df = spark.read.csv('/content/drive/MyDrive/SalesData/Regions.csv', header=True, inferSchema=True)
print("\n Displaying Region dataset")
region_df.show()

#Joining region_df with employee_df
joined_df = employee_df.join(region_df, on="City", how="left")

print("\nDisplaying the dataset after join:")
joined_df.select(employee_df["*"], region_df["Region"]).show()

# 14. Group salaries by Region after the join.
print("\nDisplaying Salaries grouped by Region:")
joined_df.groupBy("Region") \
         .agg(round(avg("Salary"), 2).alias("AverageSalary")) \
         .orderBy("Region") \
         .show()

 Displaying Region dataset
+-------------------+------+
|               City|Region|
+-------------------+------+
|          Allentown|  East|
|        Anthonyfort|  West|
|          Gilesstad| North|
|       Jenniferfurt| South|
|       Lake Amystad|  West|
|         Russohaven| North|
|        East Robert|  East|
|         New Thomas| South|
|        West Ashley|  West|
|        Caseborough| North|
|       West Phillip|  West|
|           Jillport|  East|
|          Port Mark| South|
|     North Brittany| North|
|   South Donnaville| South|
|        Port Tricia|  West|
|North Justinborough| North|
|       Mcgeechester|  East|
|         Tonyamouth|  West|
|     Jimenezborough| South|
+-------------------+------+
only showing top 20 rows


Displaying the dataset after join:
+----------+--------------------+---+----------+------+-----------+--------+-------------------+------+
|EmployeeID|                Name|Age|Department|Salary|JoiningDate|  Status|               City|Region|
+----------+--------------------+---+----------+------+-----------+--------+-------------------+------+
|      4128|     Charles Johnson| 52|        HR| 64039| 2018-07-07|Resigned|          Allentown|  East|
|      6094|       Dylan Camacho| 57| Marketing| 34686| 2015-08-25|  Active|        Anthonyfort|  West|
|      5883| Mr. Ryan Bowman Jr.| 29|   Finance| 64541| 2025-03-11|On Leave|          Gilesstad| North|
|      9146|          Brian Ball| 24|     Sales| 87831| 2015-10-01|Resigned|       Jenniferfurt| South|
|      1918|       Angela Hooper| 26|   Finance|108773| 2019-08-14|On Leave|       Lake Amystad|  West|
|      4600|Alexander Johnson...| 45|     Sales| 75671| 2016-04-21|On Leave|         Russohaven| North|
|      6253|         Steven Lane| 47|   Finance| 64982| 2021-07-25|  Active|        East Robert|  East|
|      8278|       Riley Johnson| 49|        HR| 43449| 2015-08-03|Resigned|         New Thomas| South|
|      8520|    Emily Washington| 43|   Finance| 33851| 2021-11-30|Resigned|        West Ashley|  West|
|      1298|     Valerie Fleming| 42| Marketing| 70137| 2019-12-08|Resigned|        Caseborough| North|
|      5157|     Tracy Hughes MD| 28|   Finance| 34381| 2020-06-01|  Active|       West Phillip|  West|
|      7403|    Johnathan Harmon| 50|        HR| 97666| 2021-03-09|On Leave|           Jillport|  East|
|      3326|       Michael Brown| 28|        HR| 85122| 2023-10-21|Resigned|          Port Mark| South|
|      8989|       Scott Burnett| 48|     Sales| 93690| 2016-04-25|Resigned|     North Brittany| North|
|      4676|  Christopher Fuller| 30|        HR| 63042| 2021-04-30|Resigned|   South Donnaville| South|
|      6598|         Mary Henson| 58|        IT| 63951| 2021-08-25|  Active|        Port Tricia|  West|
|      4136|       Jerome Torres| 30|   Finance| 68213| 2024-11-30|  Active|North Justinborough| North|
|      6640|     Isaiah Martinez| 51| Marketing| 72596| 2021-07-26|On Leave|       Mcgeechester|  East|
|      6406|       Patrick Chung| 27|        HR|116423| 2024-07-05|  Active|         Tonyamouth|  West|
|      1515|        Micheal Wade| 26|        HR| 41771| 2024-03-29|  Active|     Jimenezborough| South|
+----------+--------------------+---+----------+------+-----------+--------+-------------------+------+
only showing top 20 rows


Displaying Salaries grouped by Region:
+------+-------------+
|Region|AverageSalary|
+------+-------------+
|  NULL|     74498.73|
|  East|      77924.6|
| North|     73892.83|
| South|     65942.13|
|  West|     69113.86|
+------+-------------+

Date Operation

In [61]:
from pyspark.sql.functions import current_date, months_between, col, floor

# 15. Calculate years of experience for each employee (current date - JoiningDate)

employee_df = employee_df.withColumn(
    "YearsOfExperience",
    floor(months_between(current_date(), col("JoiningDate")) / 12)
)

print("\n Displaying years of experience for each employee")
employee_df.select("EmployeeID", "Name", "JoiningDate", "YearsOfExperience").show()

# 16. List all employees with more than 5 years of experience
print("\n Displaying employees with more than 5 years of experience")
employee_df.filter(employee_df["YearsOfExperience"] > 5) \
           .select("EmployeeID", "Name", "YearsOfExperience") \
           .show()

 Displaying years of experience for each employee
+----------+--------------------+-----------+-----------------+
|EmployeeID|                Name|JoiningDate|YearsOfExperience|
+----------+--------------------+-----------+-----------------+
|      4128|     Charles Johnson| 2018-07-07|                6|
|      6094|       Dylan Camacho| 2015-08-25|                9|
|      5883| Mr. Ryan Bowman Jr.| 2025-03-11|                0|
|      9146|          Brian Ball| 2015-10-01|                9|
|      1918|       Angela Hooper| 2019-08-14|                5|
|      4600|Alexander Johnson...| 2016-04-21|                9|
|      6253|         Steven Lane| 2021-07-25|                3|
|      8278|       Riley Johnson| 2015-08-03|                9|
|      8520|    Emily Washington| 2021-11-30|                3|
|      1298|     Valerie Fleming| 2019-12-08|                5|
|      5157|     Tracy Hughes MD| 2020-06-01|                5|
|      7403|    Johnathan Harmon| 2021-03-09|                4|
|      3326|       Michael Brown| 2023-10-21|                1|
|      8989|       Scott Burnett| 2016-04-25|                9|
|      4676|  Christopher Fuller| 2021-04-30|                4|
|      6598|         Mary Henson| 2021-08-25|                3|
|      4136|       Jerome Torres| 2024-11-30|                0|
|      6640|     Isaiah Martinez| 2021-07-26|                3|
|      6406|       Patrick Chung| 2024-07-05|                0|
|      1515|        Micheal Wade| 2024-03-29|                1|
+----------+--------------------+-----------+-----------------+
only showing top 20 rows


 Displaying employees with more than 5 years of experience
+----------+--------------------+-----------------+
|EmployeeID|                Name|YearsOfExperience|
+----------+--------------------+-----------------+
|      4128|     Charles Johnson|                6|
|      6094|       Dylan Camacho|                9|
|      9146|          Brian Ball|                9|
|      4600|Alexander Johnson...|                9|
|      8278|       Riley Johnson|                9|
|      8989|       Scott Burnett|                9|
|      2758|       Brittany Kerr|                6|
|      1588|         Edwin Burns|                9|
|      8729|       Mary Reynolds|                6|
|      2039|           Erin Berg|                7|
|      8923|         Jason Hines|                9|
|      8423|Christopher Mcdaniel|               10|
|      6257|      Victoria Kelly|                7|
|      6580|      Heather Nelson|               10|
|      4834|         Paul Porter|                7|
|      3325|         Brian Huynh|                8|
|      7916|          James West|                8|
|      2858|     Cameron Shelton|                9|
|      6354|      Nicole Gilmore|                7|
|      5716|          David Wang|                9|
+----------+--------------------+-----------------+
only showing top 20 rows